# Ninja initialization script
# Pieces taken from @anarkia1976, @franciscofranco, @frap123, and @flar2

service special_power /system/bin/sh /init.special_power.sh
    disabled
    class late_start
    user root
    group root
    oneshot

service governor /system/bin/sh /init.governor.sh
    disabled
    class late_start
    user root
    group root
    oneshot

on boot
   # initialize frequency limits
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq_hardlimit
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq_hardlimit
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq_hardlimit 302400
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq_hardlimit
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq_hardlimit
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq_hardlimit 1708800
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq_hardlimit
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq_hardlimit
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq_hardlimit 302400
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq_hardlimit
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq_hardlimit
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq_hardlimit 2054400

   # Wake gestures
   chown root root /sys/android_touch/wake_gestures
   chmod 666 /sys/android_touch/wake_gestures
   write /sys/android_touch/wake_gestures 0
   chmod 644 /sys/android_touch/wake_gestures

   # Disable double tap to wake
   chown root root /sys/android_touch/doubletap2wake
   chmod 666 /sys/android_touch/doubletap2wake
   write /sys/android_touch/doubletap2wake 0
   chmod 644 /sys/android_touch/doubletap2wake

   # Disable sweep to sleep
   chown root root /sys/android_touch/sweep2sleep
   chmod 666 /sys/android_touch/sweep2sleep
   write /sys/android_touch/sweep2sleep 0
   chmod 644 /sys/android_touch/sweep2sleep

   # Enable sweep to wake in up and down
   chown root root /sys/android_touch/sweep2wake
   chmod 666 /sys/android_touch/sweep2wake
   write /sys/android_touch/sweep2wake 12
   chmod 644 /sys/android_touch/sweep2wake

   # Enable camera gesture
   chown root root /sys/android_touch/camera_gesture
   chmod 666 /sys/android_touch/camera_gesture
   write /sys/android_touch/camera_gesture 1
   chmod 644 /sys/android_touch/camera_gesture

   # Set vibration strength at default 20 (34% in EXKM)
   chown root root /sys/android_touch/vib_strength
   chmod 666 /sys/android_touch/vib_strength
   write /sys/android_touch/vib_strength 20
   chmod 644 /sys/android_touch/vib_strength

on property:sys.boot_completed=1
   # according to Qcom this legacy value improves first launch latencies
   # stock value is 512k
   setprop dalvik.vm.heapminfree 2m

   # Apply governor settings
   start governor

   # Backlight dimmer
   write /sys/module/mdss_fb/parameters/backlight_dimmer 1

   # re-enable retention idle state
   # fix-up is merged in the Kernel
   write /sys/module/lpm_levels/system/a53/cpu0/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a53/cpu1/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a53/cpu2/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a53/cpu3/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a57/cpu4/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a57/cpu5/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a53/a53-l2-retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a57/a57-l2-retention/idle_enabled 1

   # special power tweaks
   # we're using this shell file to make use of helper functions to go through several nodes at once
   # these tweaks are reference values from qualcomm for newer devfreq options and HMP parameters
   start special_power

   # Plug in all cores
   write /sys/devices/system/cpu/cpu0/online 1
   write /sys/devices/system/cpu/cpu1/online 1
   write /sys/devices/system/cpu/cpu2/online 1
   write /sys/devices/system/cpu/cpu3/online 1
   write /sys/devices/system/cpu/cpu4/online 1
   write /sys/devices/system/cpu/cpu5/online 1
   write /sys/devices/system/cpu/cpu6/online 1
   write /sys/devices/system/cpu/cpu7/online 1
